<h3>Forget Password</h3>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="onFormSubmit()">
 <div class="form-group">
    <label for="email">Enter your Email</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Enter email here"/>
    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
        <div *ngIf="fval.email.errors.required">Email is required</div>
        <div *ngIf="fval.email.errors.email">Enter valid email address</div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Send reset link
    </button>
    <a routerLink="/login" class="btn btn-link">Login to continue</a>
</div>
</form>
